.vertical-align{
    display: flex;
    align-items: center;
}
.icon-size{
    font-size: 50px;
}
.mobile{
    font-size: 30px;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#name span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
    }
#name *{
    min-height: 50px;
    color: white;
}
#name a:hover{
    cursor: default;
    text-decoration: none;
}
@keyframes caret {
    50% {
        border-color: transparent;
    }
}   